<nav class='navbar navbar-default'>
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['']" routerLinkActive="router-link-active"  class="navbar-brand">Recipe Book</a>
        </div>

        <div class="navbar-default">
            <ul class='nav navbar-nav'>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/recipes-book']">Recipes</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a [routerLink]="['/auth']">Auth</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
            </ul>

            <ul class='nav navbar-nav navbar-right'>
                <li><a style="cursor: pointer" (click)='onLogout()' *ngIf="isAuthenticated">Log out</a></li>

                <li class='dropdown' appToggleDropdown *ngIf="isAuthenticated">
                    <a class='dropdown-toggle' role="button">Manage Data<span class='caret'></span></a>
                    <ul class='dropdown-menu'>
                        <li><a style="cursor: pointer" (click)='onStoreRecipes()'>Store data</a></li>
                        <li><a style="cursor: pointer" (click)='onFetchRecipes()'>Fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>