<div class="row">
    <div class="col-xs-12">
        <img [src]='pressedRecipe.imagePath' alt="" class='img-responsive'>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ pressedRecipe.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appToggleDropdown>
            <button 
                type='button'
                class='btn btn-primary dropdown-toggle'>
                Manage Recipe <span class="carey"></span>
            </button>
            <ul class='dropdown-menu'>
                <li><a (click)='onAddToShoppingList()' style="cursor: pointer">Add to Shopping list</a></li>
                <li><a style="cursor: pointer">Edit Recipe</a></li>
                <li><a style="cursor: pointer">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>{{ pressedRecipe.description}}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class='list-group'>
            <li class='list-group-item'
                *ngFor="let ingredient of pressedRecipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>